#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

.information {
  float: none;
  width: 100%;
}

.row1,
.row2,
.row3 {
  float: none;
  width: 100%;
}

#heading {
  width: 100%;
}

#heading .about-text-left {
  float: none;
  width: 100%;
  padding-left: 20px;
}

.about-text-left h1 {
  text-align: center;
}

.info-right img {
  float: none;
  width: 100%;
  display: block;
  position: relative;
  left: -50%;
  margin-top: 20px;
}

#section {
  float: none;
  width: 100%;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
}

#section h1 {
  padding-top: 550px;
  margin: 50px;
}

#section .comment1 {
  float: none;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

#section .comment2 {
  float: none;
  width: 90%;
  margin: auto;

  margin-bottom: -30%;
}

.comment1 img,
.comment2 img {
  width: 25%;
  margin: 20px 20px 0px 20px;
}

.comment1,
.comment2 p {
  float: none;
  margin: auto;
}

#form {
  margin: 5%;
}

.form-wrap h1 {
  text-align: center;
}

.form-group input,
.form-group textarea {
  width: 100%;
}

#info-section {
  padding: 30px;
}

#info-section .left,
#info-section .middle {
  float: none;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: #444 dotted 1px;
}

#info-section .right {
  float: none;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
